
body {
  font-family: 'Raleway', sans-serif;
  color: #000000;
}


/* Navbar */
.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}

.navbar-default {
  background-color: white;
  border: none;
}


/* Containers */

.landing {
  height: 100vh;
}


/* Content Sections */

.content {
  padding-right: 10vw;
  padding-left: 10vw;
}

#contact {
  padding-bottom: 30vh;
}

#bio, #network, #projects {
  padding-top: 10vh;
}


/* Media Queries */

 
@media (min-width:560px) {
  .main h1 {
    font-size: 35px;
    letter-spacing: 4px;
  }
  .main {
    margin-top: 15vh;
  }

  #image {
    margin-top: 2vh;
  }
}

@media (min-width:768px) {
  .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
  .main {
  margin-top: 18vh;
  }
  #nav-view li .scroll {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  li {
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
  }
}


@media (min-width:992px) { 
  .main h1 {
  font-size: 70px;
  letter-spacing: 7px;
  }
  .main h4 {
    font-size: 20px;
  }
  #image {
  margin-top: 3vh;
  }
  li {
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
}

@media (min-width:1200px) {
  
 
}
