
body {
  font-family: 'Varela Round', sans-serif;
  color: #000000;
}
.main h1 {
  font-size: 6vmax;
}

.main {
    margin-top: 35vh;
}


/* Navbar */
.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}

.navbar-default {
  background-color: white;
  border: none;
}


/* Containers */

.landing {
  height: 100vh;
}


/* Content Sections */

.content {
  padding-left: 5vw;
  padding-right: 5vw;
}

#contact {
  padding-bottom: 30vh;
}

#bio, #network, #projects {
  padding-top: 10vh;
}

#bio h1, #network h1, #projects h1, #contact h1 {
  font-size: 4vw;
}

/* Image grid */

.img-responsive {
  padding: 60px;
  opacity: 0.5;
}

/* Thumbnail gallery */

.thumbnail img {
  height: 150px;
}




/* Media Queries */
//
//
//
@media (min-width:300px) {
  .main h1 {
    letter-spacing: 4px;
  }

  
  #image {
    margin-top: 2vh;
  }
}

@media (min-width:768px) {
  .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }

  #nav-view li .scroll {
    padding-left: 15px;
    padding-right: 15px;
  }

  #bio p {
    font-size: 16px;
  }
  
  li {
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
  }


  /*Network section */
  #dalio {
    padding-top: 130px;
  }

  #tata {
    padding-top: 90px;
  }

  #cbs {
    padding-top: 110px;
  }

  #aaas, #time-warner {
    padding-top: 120px;
  }

}


@media (min-width:992px) { 
  .main h1 {
  letter-spacing: 7px;
  }
  .main h4 {
    font-size: 20px;
  }
  #image {
  margin-top: 3vh;
  }
  li {
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
}

@media (min-width:1200px) {
  
 
}
