body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

body p {
  font-family: 'Varela Round', sans-serif;
}

.main h1 {
  font-size: 6vmax;
  color: white;
}
.main h4 {
  color: white;
}

.main {
    margin-top: 50vh;
}

/* Navbar */

.navbar-default {
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.navbar-default li {
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}

.navbar-default .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar-default .navbar-nav li a {
  color: black;
}

.navbar-default .navbar-nav li a:hover {
  color: grey;
}

//Add the below transitions to allow a smooth color change similar to lyft
.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.scrolled {
    background: rgb(255, 255, 255); //IE
    background: rgba(255, 255, 255, 0.3); //NON-IE
}



/* landing */

.landing {
  height: 100vh;
  width: 100vw;
  background: url('images/paul.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:-100;
}


/* Content Sections */

#bio, #network, #projects {
  padding-top: 10vh;
}

#bio {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10vw;
  padding-right: 10vw;
  width: 100%;
  color: black;
  background-color: white;
}

#network {
  background-color: white;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
  color: black;
}

#projects {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10vw;
  padding-right: 10vw;
  width: 100%;
  color: black;
}

#projects a {
  color: #ff0000;
}

#media {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10vw;
  padding-right: 10vw;
  width: 100%;
  color: black;
  background-color: white;
}

#contact {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 30vh;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  color: white;
  background-color: #6974f4;
}

#contact p {
  padding: 0 5vw 0 5vw;
}


/* Image grid */

.img-responsive {
  //padding: 60px;
  opacity: 0.5;
}

.thumbnail img {
  height: 150px;
}
.thumbnail {
  border: none;
}

/* Media Queries */

// Mobile 
@media (min-width:300px) {
  .main h1 {
    letter-spacing: 4px;
  }
  
  #image {
    margin-top: 2vh;
  }

}


// iPad
@media (min-width:768px) {
  .navbar-nav {
        float: none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }

  #nav-view li .scroll {
    padding-left: 15px;
    padding-right: 15px;
  }

  #bio h1, #projects h1, #network h1, #contact h1 {
    font-size: 6vw;
  }

  #bio p, #projects p {
    font-size: 16px;
  }
  
  li {
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .landing {
  height: 100vh;
  width: 100vw;
  background: url('images/paul_mobile.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:-100;
  }
}

// Desktop
@media (min-width:992px) { 
  .main h1 {
  letter-spacing: 7px;
  }
  .main h4 {
    font-size: 20px;
  }
  #image {
  margin-top: 3vh;
  }


   li {
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
}

@media (min-width:1200px) {
  
 
}
